.preview {
  margin: 80px 0 0 0;
  height: 47vh;
  position: relative;
}

.listingActions {
  position: absolute;
  z-index: 1;
  top: 24px;
  right: 24px;
}

.shareListing {
  margin-right: 18px;
}

.arrowBox {
  height: 15px;
  width: 15px;
  margin-right: 12px;
  fill-opacity: 0;
  stroke: rgb(72, 72, 72);
  stroke-width: 2.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.saveListing {
  right: 0px;
}

.heart {
  height: 15px;
  width: 15px;
  margin-right: 12px;
  fill-opacity: 0;
  stroke: rgb(72, 72, 72);
  stroke-width: 2.25;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.viewPhotos {
  position: absolute;
  z-index: 1;
  right: 24px;
  bottom: 24px;
}

.button {
  cursor: pointer;
  outline: none;
  color: #484848;
  padding: 6px 15px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 450;
  line-height: 22px;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
  border-radius: 4px;
  border-color: transparent;
}

.photosContainer {
  position: absolute;
  display: flex;
  align-items: flex-start;
}

.photosContainer:hover > * {
  filter: brightness(70%);
  transition: filter 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.photosContainer:hover > *:hover {
  filter: brightness(100%);
  transition: filter 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.primaryImg {
  height: 47vh;
  width: 67%;
  overflow: hidden;
  outline: 1px solid rgb(72, 72, 72);
  border-left: 1px solid rgb(72, 72, 72);
  border-right: 1px solid rgb(72, 72, 72);
}

.img {
  max-width: 100%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.img:hover {
  transform: scale(1.05);
  transition: transform 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.secondaryImgsContainer {
  height: 47vh;
  width: 33%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.secondaryImgsContainer:hover > * {
  filter: brightness(70%);
  transition: filter 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.secondaryImgsContainer:hover > *:hover {
  filter: brightness(100%);
  transition: filter 450ms cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

.secondaryImg {
  height: 50%;
  overflow: hidden;
  outline: 1px solid rgb(72, 72, 72);
  border-left: 1px solid rgb(72, 72, 72);
  border-right: 1px solid rgb(72, 72, 72);
}

.popupBackground {
  position: absolute;
  background-color: black;
  opacity: 0.7;
  z-index: 2;
}

.shareModal {
  margin: 64px 292px;
  width: 376px;
  height: 764px;
  background-color: white;
  z-index: 3;
}
