.shareContainer {
  position: fixed;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.75);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.sharePopup {
  width: 376px;
  height: 764px;
  margin-top: 64px;
  margin-bottom: 64px;
  background-color: white;
  z-index: 3;
}

.shareMethods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.methodContainer {
  height: 76px;
  width: 312px;
}

.method {
  height: 26px;
  width: 312px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600px;
  color: #008489;
}
