.shareContainer {
  position: fixed;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.75);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.sharePopup {
  width: 376px;
  height: 764px;
  margin-top: 64px;
  margin-bottom: 64px;
  background-color: white;
  z-index: 3;
}

.close {
  width: 312px;
  height: 21px;
  margin: 32px 32px 24px 32px;
}

.closeButton {
  width: 16px;
  height: 16px;
  outline: none;
  cursor: pointer;
  border: 0px;
  padding: 0px;
}

.closeX {
  width: 16px;
  height: 16px;
  fill: rgb(118, 118, 118);
  fill-rule: evenodd;
}

.shareText {
  width: 312px;
  height: 30px;
  margin-right: 24px;
  margin-left: 24px;
  margin-bottom: 24px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.25em;
  color: rgb(72, 72, 72);
}

.shareMethods {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.methodContainer {
  width: 312px;
  height: 76px;
}

.method {
  width: 312px;
  height: 26px;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid rgb(235, 235, 235);
  border-bottom: 1px solid rgb(235, 235, 235);
}

.methodButton {
  outline: none;
  cursor: pointer;
  border: 0px;
  padding: 0px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 600px;
  color: #008489;
}

.icon {
  width: 18px;
  height: 18px;
  fill: rgb(72, 72, 72);
  fill-rule: evenodd;
  margin-right: 8px;
}
