.shareContainer {
  position: fixed;
  overflow-y: auto;
  background: rgba(0, 0, 0, 0.75);
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.sharePopup {
  width: 376px;
  height: 764px;
  margin-top: 64px;
  margin-bottom: 64px;
  background-color: white;
  z-index: 3;
}

.shareMethods {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
