.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  outline: none;
  height: 88px;
  width: 88px;
  border: 0px;
}

.closeX {
  margin: 0 auto;
  height: 24px;
  width: 24px;
  fill: rgb(72, 72, 72);
}

.imgPanel {
  height: 55vh;
  padding: 40px;
}

.imgPanelContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.img {
  position: absolute;
  pointer-events: none;
  cursor: pointer;
  border-radius: 16px;
  height: 55vh;
  max-width: 85%;
}

.direction {
  cursor: pointer;
  outline: none;
  height: 55vh;
  width: 50%;
  border: 0px;
}

.previousArrow {
  float: left;
  height: 24px;
  width: 24px;
  margin: 0 auto 0 20px;
  fill: rgb(72, 72, 72);
}

.nextArrow {
  float: right;
  height: 24px;
  width: 24px;
  margin: 0 20px 0 auto;
  fill: rgb(72, 72, 72);
}

.scrollbar {
  margin-left: 40px;
  margin-right: 40px;
  height: 64px;
}

.imgText {
  max-width: 80%;
  margin: 15px auto 0;
  color: rgb(72, 72, 72);
  font-size: 16px;
  line-height: 1.375em;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.imgOrder {
  font-weight: 600;
}

.imgDescription {
  margin: 15px auto 0;
  font-weight: 400;
}
