.panel {
  background-color: white;
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  height: 88px;
  width: 88px;
  border: 0px;
}

.closeX {
  margin: 0 auto;
  height: 24px;
  width: 24px;
  fill: rgb(72, 72, 72);
}

.info {
  background-color: white;
}

.previous {
  cursor: pointer;
  /* border: 0px; */
}

.next {
  cursor: pointer;
  /* border: 0px; */
}
