.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  outline: none;
  height: 88px;
  width: 88px;
  border: 0px;
}

.closeX {
  margin: 0 auto;
  height: 24px;
  width: 24px;
  fill: rgb(72, 72, 72);
}

.imgPanel {
  height: 65vh;
  padding: 40px;
}

.imgPanelContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.img {
  position: absolute;
  cursor: pointer;
  border-radius: 16px;
  height: 55vh;
  max-width: 85%;
}

.imgInfo {
  background-color: white;
}

.direction {
  cursor: pointer;
  outline: none;
  height: 55vh;
  width: 50%;
  border: 0px;
}

.arrow {
  height: 24px;
  width: 24px;
  fill: rgb(72, 72, 72);
}
